@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/booklist', function (bookLists) {
                ko.applyBindings(bookLists);
            });
        });
    </script>
}

<div class="row" data-bind="foreach: $root">
    <div class="col-md-12" style="padding-top: 15px;">
        <div style="padding: 10px;overflow: auto;background-color: rgb(221, 221, 221);">
            <h2 data-bind="text: Title"></h2>
            <!-- ko foreach: Books -->
            <div style="display: inline-block;padding-top: 10px;" class="col-md-2">
                <div style="padding: 5px;background-color: rgb(152, 173, 226);">
                    <h4 data-bind="text: $data.ISBN"></h4>
                    <p>The advantage of projection is you get only the data you need.</p>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
