@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/booklist', function (bookLists) {
                ko.applyBindings(bookLists);
            });
        });
    </script>
}

<div class="row">
    <div class="col-md-12" data-bind="foreach: $root">
        <h2 data-bind="text: Title"></h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>